@using System.Globalization
@model Lanche

<div class="col-sm-4 col-md-4 col-lg-4">
    <p>@Model.ImagemUrl</p>
    <h3>Preço: @Model.Preco.ToString("c", CultureInfo.CreateSpecificCulture("pt-BR"))</h3>
    <h4>
        <a asp-controller="Lanche" asp-action="Details" asp-route-Id="@Model.Id">@Model.Nome</a>
    </h4>
    <p>Descrição Curta: @Model.DescricaoCurta</p>
    <div>
        <p class="button">
            <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra"
                asp-action="AdicionarItemNoCarrinhoCompra" asp-route-Id="@Model.Id">
                Incluir no Carrinho
            </a>
        </p>
    </div>
</div>
