@using System.Globalization
@model CarrinhoCompraViewModel

<dir class="container">
    <div class="row">
        <span>img</span>
        <div>
            <h4> Seu Carrinho de compras:</h4>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Lanche</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarrinhoCompra.carrinhoCompraItems)
            {
                <tr>
                    <td class="text-center">@item.Quantidade</td>
                    <td class="text-left">@item.Lanche.Nome</td>
                    <td class="text-right">@item.Lanche.Preco.ToString("c", CultureInfo.CreateSpecificCulture("pt-BR"))</td>
                    <td class="text-right">
                        @((item.Quantidade * item.Lanche.Preco).ToString("c", CultureInfo.CreateSpecificCulture("pt-BR")))
                    </td>
                    <td class="text-center">
                        <a asp-controller="CarrinhoCompra" asp-action="RemoverItemNoCarrinhoCompra"
                            asp-route-Id="@item.Lanche.Id"><span>Remover</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="tex-right">
                    @Model.CarrinhoCompraTotal.ToString("c", CultureInfo.CreateSpecificCulture("pt-BR"))
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="text-right">
        <div class="btn-group">
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
            <a class="btn btn-primary" asp-controller="Lanche" asp-action="List">Continuar Comprando</a>
        </div>
    </div>
</dir>